# ETL Pipeline Preparation

### 1. Import libraries and load datasets.
- Import Python libraries
- Loading `messages.csv` into a dataframe and inspect the first few lines.
- Loading `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('data/disaster_messages.csv').drop(columns="original")

In [4]:
# load categories dataset
categories = pd.read_csv('data/disaster_categories.csv')

### 2. Merge datasets.
- Merging the messages and categories datasets using the common id
- Assigning this combined dataset to `df`, which will be cleaned in the following steps

In [6]:
# merge datasets
df = messages.merge(categories, how='left', on='id')

In [8]:
categories = df.pop('categories')

### 3. Split `categories` into separate category columns.
- Spliting the values in the `categories` column on the `;` character so that each value becomes a separate column. (https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) `expand=True`.
- Using the first row of categories dataframe to create column names for the categories data.
- Renaming columns of `categories` with new column names.

In [12]:
# creating a dataframe of the 36 individual category columns
categories = categories.str.split(";", expand=True)

In [13]:
categories

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26381,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26382,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26383,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26384,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-1,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26385,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [14]:
# selecting the first row of the categories dataframe
row = categories[0:1].T

# using this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = list(row.applymap(lambda x: x[:-2])[0])

In [15]:
# renaming the columns of `categories`
categories.columns = category_colnames

### 4. Convert category values to just numbers 0 or 1.
- Iterating through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. And converting the string to a numeric value.
- Performing [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. Converting the Series to be of type string, which you can do with `astype(str)`.

In [16]:
# keeping the last character with applymap - this method 
# modifies each entry with the lambda function
# .applymap works with strings, .apply doesn't

try:
    categories = categories.applymap(lambda x: int(x[-1]))
except:
    pass
    
categories['id'] = df['id']

### 5. Replace `categories` column in `df` with new category columns.
- Dropping the categories column from the df dataframe since it is no longer needed.
- Concatenating df and categories data frames.

# dropping the original categories column from `df`
try:
    df.drop("categories", axis=1, inplace=True)
except:
    pass

In [17]:
# concatenating the original dataframe with the new `categories` dataframe
df = df.merge(categories, how='left', on='id')

In [18]:
df.shape

(27250, 39)

### 6. Remove duplicates.
- Checking how many duplicates are in this dataset.
- Dropping the duplicates.
- Confirming duplicates were removed.

# check number of duplicates
len(df.duplicated()[df.duplicated() == True])

In [19]:
# dropping duplicates
df.drop_duplicates(inplace=True)

# check number of duplicates
len(df.duplicated()[df.duplicated() == True])

In [20]:
# there are some values in the df with the number 2.
# Let's drop the 2 values to get binary data
df[df.columns[4:]] = df[df.columns[4:]].replace(2, np.NaN)
df.dropna(inplace=True)

# drop duplicates in the dataframe
df.drop_duplicates(inplace=True)

In [21]:
df.shape

(26216, 39)

### 7. Save the clean dataset into an sqlite database.
Performing [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Using SQLAlchemy's `create_engine` and importing in the first cell

In [22]:
engine = create_engine('sqlite:///messages_db.db')
df.to_sql('messages', engine, index=False, if_exists='replace')

# Functions

In [7]:
def load_data(messages_filepath, categories_filepath):
    """
    input - messages_filepath: X data directory
    categories_filepath: Y data directory
    
    output - a merged dataframe with each message and the
    categories of each message (df)
    """
    # load messages dataset
    messages = pd.read_csv(messages_filepath)
    
    # load categories dataset
    categories = pd.read_csv(categories_filepath)
    
    # merge datasets
    df = messages.merge(categories, how='left', on='id')

    return df

def clean_data(df): 
    """
    input - merged df with messages and categories
    
    output - dataframe with messages and the categories in each
    column with the categories in binary data type
    """
    
    # we create a categories' df to manipulate the data
    categories = df.pop('categories')
    
    # create a dataframe of the 36 individual category columns
    categories = categories.str.split(";", expand=True)
    
    # select the first row of the categories dataframe
    row = categories[0:1].T
    
    # use this row to extract a list of new column names for categories.
    # we apply a lambda function that takes everything 
    # up to the second to last character of each string with slicing
    # applymap works well with strings, .apply doesn't
    category_colnames = list(row.applymap(lambda x: x[:-2])[0])
    
    # rename the columns of `categories`
    categories.columns = category_colnames
    
    # Convert category values to just numbers 0 or 1
    try:
        categories = categories.applymap(lambda x: int(x[-1]))
    except:
        pass
    
    categories['id'] = df['id']
    
    # concatenate the original dataframe with the new `categories` dataframe
    df = df.merge(categories, how='left', on='id')
    
    # there are some values in the df with the number 2.
    # Let's drop the 2 values to get binary data
    df[df.columns[4:]] = df[df.columns[4:]].replace(2, np.NaN)
    df.dropna(inplace=True)
    
    # drop duplicates in the dataframe
    df.drop_duplicates(inplace=True)
    
    return df